#navbar-background, #navbar-header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#etatII {
    margin-left: 60px;
    color: green;
    margin-bottom: 10px;
}

.rubrique {
    color: white;
}


#titre-entreprise {
    color: white;
    margin-bottom: 50px;
}

#logoutII {
    color: black;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    padding: 5px;
    border-radius: 5px;
    transition: all 1s ease-in-out;

}

#logoutII:hover {
    cursor: pointer;
    background-color:#073849 ;
    color: white;
} 

#main-conteneur {
    background-color: black;
    padding-bottom: 50px;
}

#block-timelapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-chantier {
    color: white;
}

@media (max-width : 481px ) {

    #timelapse-screen {
        height: 350px;
        width: 350px;
    }   

    
}

