* {
    margin : 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

#footer-conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 10px 20px;
}

#conteneur-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reseauxsociaux {
    margin: 0px 10px;
}

.reseauxsociaux:hover {
    cursor: pointer;
    height: 25px;
    width: 25px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
}

#conteneur-liste-footer {
    color :black
}
