.back-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.representation {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

#titre-page {
    margin-bottom: 50px;
    margin-top: 50px;
}

#contact-mariage {
   margin-top: 50px;
   border: none;
   background-color: #F5EEEB;
   border-radius: 5px;
   padding: 10px;
}
#contact-mariage:hover {
   border: 1px black solid;
   background-color: #ebd9d2;
   cursor: pointer;
   
}

#jumbotron-mariage{
    background-image: url(../Assets/table.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    height: 250px;
    margin-bottom: 50px;
}


@media (max-width : 481px ) {

    .back-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .representation {
        margin-bottom: 50px;
    }

    p {
        text-align: center;
    }
}