 #etat {
    margin-left: 60px;
    color: green;
    margin-bottom: 10px;
    margin-top: 10px;
}

#logout {
    margin-left: 60px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#logout:hover {
    cursor: pointer;
    background-color: #073849;
    transition: all 0.5s ease-in-out;
    
}

#titre-tableaudebord {
    margin-bottom: 100px;
}

h1, h2, h3, h4 {
    text-align: center;
}

h3 { 
    color: white;
}

#jumbotron {
    background-image: url(../Assets/hotel.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    height: 550px;
    margin-bottom: 50px;
}


.block-conteneur-crud {
    background: linear-gradient( #6C9DAE, #073849 );
    margin: 5px;
    border-radius: 10px;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.block-conteneur-crud:hover {
    cursor: pointer;
    padding: 40px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#block-nb-entreprise {
    max-width: 500px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background: linear-gradient(black, gray);
    border-radius: 50px;
}

#block-conteneur-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-crud-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    background: linear-gradient( #6C9DAE, #073849 );
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.designation-champ {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
}


h4 {
    color: white;
}



.button-formulaire {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.button-formulaire:hover {
    padding: 5px 15px;
    background-color: rgb(47, 44, 44);
    cursor: pointer;
}

#tableau-gestion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px black solid;
    text-align: center;
    border-radius: 4px;
}

table {
    background-color: black;
    width: 50%;
}

th {
    background: linear-gradient(rgb(0, 0, 0), rgb(114, 114, 114));
    padding: 5px;
    color: white;
}
td {
    background-color: white;
    padding: 5px;
    color: black;
}

#logo-entreprise {
    border-radius: 50px;
    border: 1px black solid;
}

.action:nth-child(1){
    background: linear-gradient(rgb(12, 142, 83), rgb(62, 212, 155));
}

.action:nth-child(2){
    background: linear-gradient(rgb(255, 12, 12), rgb(253, 108, 108));
}

.action {
    padding: 5px;
    margin: 5px;
    border: white solid 1px;
    border-radius: 5px;
    color: white;
}

.action:hover {
    cursor: pointer;
    padding: 6px;
}

#unauthorized {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





@media (max-width : 481px ) {

    #block-nb-entreprise{
        height: 70px;
        width: 250px;
    }

    h3 {
        font-size: 16px;
    }

    #status{
       text-align: center;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       margin-right: 50px;
       margin-bottom: 50px;
    }

    #jumbotron {
        width: 100%;
    }

    th, tr, td , button {
        font-size: 10px;
    }
}